<div id="main" class="container-fluid">
  <table class="table">
    <tbody>
      <tr>
        <td class="align-middle text-center">
          <h1 class="text-center">SneakerStock</h1>
          <button
            class="btn btn-outline-light btn-lg shadow"
            [routerLink]="['/sneaker']"
          >
            <span>Show Collection</span>
          </button>
          <button class="btn btn-outline-light btn-lg mx-1 shadow">
            <span>Add to Collection</span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
