<div class="container-fluid">
  <table class="table">
    <thead>
      <tr>
        <th class="align-middle">
          <h1>
            SneakerStats
            <button class="btn btn-dark" [routerLink]="['/sneaker']">
              View Collection
            </button>
          </h1>
        </th>
        <th class="align-middle"></th>
        <th class="align-middle"></th>
      </tr>
    </thead>
  </table>
  <div class="row mx-5 mb-3">
    <div class="col-4">
      <div class="card text-center">
        <div class="card-header">Total Sneakers in Collection</div>
        <div class="card-body">
          <h2 class="card-title">{{ totalCount }}</h2>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card text-center">
        <div class="card-header">Most Popular Brand</div>
        <div class="card-body">
          <h2 class="card-title">{{ mostPopularBrand }}</h2>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card text-center">
        <div class="card-header">Average Condition</div>
        <div class="card-body">
          <h2 class="card-title">{{ avgCondition }}</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row mx-5 mb-3">
    <div class="col-6">
      <div class="card text-center">
        <div class="card-header">Sneakers by Brand</div>
        <div class="card-body">
          <h2 class="card-title">
            <br /><br />Chart coming soon!<br /><br /><br />
          </h2>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card text-center">
        <div class="card-header">Sneakers by Condition</div>
        <div class="card-body">
          <h2 class="card-title">
            <br /><br />Chart coming soon!<br /><br /><br />
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row mx-5 mb-3 text-center">
    <div class="col">
      <div class="card text-center">
        <div class="card-header">Average Retail Price</div>
        <div class="card-body">
          <h2 class="card-title">{{avgRetailPrice | currency}}</h2>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center">
        <div class="card-header">Collection Net Worth</div>
        <div class="card-body">
          <h2 class="card-title">{{netWorth | currency}}</h2>
        </div>
      </div>
    </div>
  </div>
</div>
